{% extends 'user/base.html' %}
{% load user_extras %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="container position-absolute top-50 start-50 translate-middle"
            style="padding:20px; width:20%;">
            {% for field in form %}
            <div style="margin-top:15px;">
                {{ field.label_tag }}
                <br>
                {{ field }}
                <p style="color:red; display: block;">
                {{ message|get_field:field.name }}
                </p>
            </div>
            {% endfor %}
            <br>

            <button type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}
