{% extends 'user/base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div style="padding:5px;">
            <p style="margin-bottom:0;">
                {{ field.label_tag }} {{ field }}
            </p>
            {{ field.errors }}
        {% if field.label == "Email" %}
            <small style="color:red;">
                {{ message }}
            </small>
        {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
